@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

// variables

    // colors
$c-theme: #20D3C2;
$c-theme-light: #d4f8f3;
$c-theme-dark: #0E153D;
$c-dark: #080C24;
$c-grey-0: #AAAAAA;
$c-grey-1: #CCCCCC;
$c-grey-2: #E3E3E3;
$-c-grey-3: #EEEEEE;
$-c-grey-4: #F6F6F6;
$c-white: #FFFFFF;
$-c-instock: #82D8C6;
$-c-outofstock: #FE6C6C;
    // fonts
$f-family-play: 'Play', sans-serif;
$f-family-roboto: 'Roboto', sans-serif;
$f-weight-regular: 400;
$f-weight-medium: 500;
$f-weight-bold: 700;
    // border radius
$radius-small: 8px;
$radius-medium: 25px;

// editing tools

// creates border around all elements 
// * {
//     border: 1px solid red;
// }

// general 

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: $f-family-roboto;
    font-size: 12px;
}
h1, h2, h3, h4, h5, h5 {
    font-weight: $f-weight-regular;
    font-size: 12px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.logo-space {
    background-color: $c-white;
    display: flex;
    justify-content: center;
    &__link {
        margin: 0.5rem;
        display: block;
        width: 80%;
    }
    &__img {
        width: 100%;
        color: $c-white;
    }
}
// utilities

.button {
    display: inline-block;
    background-color: $c-white;
    color: $c-theme;
    font-weight: $f-weight-medium;
    padding: 0.65rem 1rem 0.6rem 1rem;
    border-radius: $radius-medium;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $c-theme;
        color: $c-white;
    }
    &--dark {
        background-color: $c-theme-dark;
        color: $c-white;
    }
    &--right-margin {
        margin-right: 15px;
    }
}
.theme-color {
    color: $c-theme;
}
.strong-emphasis {
    font-size: 36px;
    font-weight: $f-weight-bold;
}


/* Header */
.header{
    background-color: $c-theme;
    box-shadow: 1px 1px 5px 0px $c-grey-0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    &__links-container{
        display: inline-block;
        font-size: 1.5rem;
        margin: 10px;
    }
    &__link {
        color: $c-white;
        margin: 0.5rem;
    }
    &__logo-container {
        background-color: $c-white;
    }
    &__logo-image {
        margin: 10px;
    }
}
/* Nav menu */
.hamburger-menu {
    &__dropdown-body{
        width: 100%;
        position: fixed;
        background-color: $c-theme;
        overflow: hidden;
    }
    // '__dropdown-body' dubbleras här när 'hamburger' inte används.
    //  Borde finnas bättre sätt att strukturera, kanske.
    &__dropdown-body{
        max-height: 0;
        top: 48px;
        transition: max-height .5s ease-out;
    }
    &__checkbox {
        display: none;
        &:checked ~ .hamburger-menu__dropdown-body{
            max-height: 100%;
        }
        &:checked ~ .hamburger-menu__hamburger .hamburger-menu__hamb-line {
            background: transparent;
        }
        &:checked ~ .hamburger-menu__hamburger .hamburger-menu__hamb-line::before {
            transform: rotate(-45deg);
            top:0;
        }
        &:checked ~ .hamburger-menu__hamburger .hamburger-menu__hamb-line::after {
            transform: rotate(45deg);
            top:0;
        }
    }
    &__hamburger {
        cursor: pointer;
        float: right;
        padding: 24.5px 20px 24.5px 20px;
    }
    &__list-item{
        // '_list-items' länkar till olika delar av sidan. Tyvärr stängs inte 
        // hamburgermenyn automatiskt efter att användaren har tryckt på en länk.
        // Funderar på om det skulle gå att lösa med att använda 'check-box hack' 
        // igen, fast på länkarna. Men om meddelandet är kvar har jag inte lyckats, 
        // inte hunnit. Eller glömt ta bort denna kommentar.
        display: block;
        padding: 30px;
        color: $c-white;
        &:hover{
            background-color: $c-theme-light;
            color: $c-theme-dark;
        }
    }
    &__hamb-line {
        background: $c-white;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
        &::before{
            top: 7px;
            background: $c-white;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
        &::after{
            top: -7px;
            background: $c-white;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
    }
}
.logo-space {
    background-color: $c-white;
    display: flex;
    justify-content: center;
    &__link {
        margin: 0.5rem;
        display: block;
        width: 80%;
    }
    &__img {
        width: 100%;
        color: $c-white;
    }
}

.showcase {
    background-color: $-c-grey-3;
    position: relative;
    text-align: center;
    &__image {
        width: 100%;
    }
    &__text-container {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__page-title {
        font-family: $f-family-play;
        font-size: 60px;
        margin: 0;
    }
    &__text {
        font-size: 0.8rem;
        margin: 10%
    }
    &--emphasize-text {
        display: inline-block;
        color: $c-theme;
        font-weight: $f-weight-bold;
    }
}

.extraspace {
    height: 2000px;
}

.product-card {
    font-size: 12px;
    border-radius: $radius-small;
    color: $c-white;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: $c-grey-2;
    width: 170px;
    height: 225px;
    overflow: hidden;
    &__product-image {
        height: 100%;
        object-fit: fill;
    }
    &__menu-body {
        background-color: $c-dark;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 80.5%;
        z-index: 50;
        transition: all .3s ease-in-out;
        &:hover {
            top: 0;
            opacity: 0.6;
        }
        &:hover .product-card__product-info-container {
            position: absolute;
            top: 38%;
        }
        &:hover .product-card__icon-menu {
            top: 2%;
        }
    }
    &__product-info-container {
        font-weight: $f-weight-regular;
        font-size: 12px;
        margin: 0.2rem 0 0.5rem 0.5rem;
        position: absolute;
        top: 1%;
        transition: all 0.3s ease-in-out;
    }
    &__product-name {
        width: 115px;
        height: 28px;
        margin-bottom: 1rem;

    }
    &__product-category {
        font-size: 11px;
        display: inline-block;
        padding: 0.1rem 0.35rem;
        border: 1px $c-white solid;
        margin-bottom: 1rem;
    }
    &__old-price {
        font-size: 11px;
        text-decoration: line-through;
        margin-bottom: 1rem;
        &--hidden {
            visibility: hidden;
        }
    }
    &__new-price {
        color: $c-theme;
        font-weight: $f-weight-bold;
    }
    &__icon-menu {
        line-height: 1.5rem;
        list-style: none;
        position: absolute;
        top: 30%;
        right: 5%;
        padding: 0.5rem 0.3rem 0.5rem 0.4rem;
        transition: all 0.4s ease-in-out;
        background-color: $c-white;
        border-radius: $radius-medium;
    }
    &__icon {
        color: $c-grey-0;
        &--instock {
            color: $-c-instock;
        }
        &--outofstock {
            color: $-c-outofstock;
        }
        &:hover {
            color: $c-theme;
        }
    }
}

.page-section {

    background-color: $c-white;

    &__content-container {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--small {
            margin: 1rem;
        }
    }
    &--content-centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__section-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    &__section-title {
        text-align: center;
        font-family: $f-family-play;
        font-size: 36px;
        font-weight: $f-weight-bold;
        margin-bottom: 0.5rem;
        &--small {
            font-size: 12px;
        }
    }
    &__line {
        width: 255px;
        margin-bottom: 0.5rem;
    }
    &__section-preamble {
        text-align: center;
    }
}

.grid {
    display: grid;

    &--two-columns {
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }
    &--four-columns {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 5px;
    }
    &--two-by-two {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
    }
}

.service-card {
    background-color: $c-theme-light;
    height: 85px;
    width: 85px;
    border-radius: $radius-small;
    &__icon {
        width: 100%;
        padding: 1rem;
    }
}

.category-card {
    width: 170px;
    height: 170px;
    background-color: $c-grey-1;
    position: relative;
    border-radius: $radius-small;
    overflow: hidden;
    &__menu-body {
        background-color: $c-dark;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 85.5%;
        right: 50%;
        z-index: 50;
        transition: all .15s ease-in-out;
        border-radius: 0 $radius-small 0 0;
        &:hover {
            opacity: 0.6;
            top: 70%;
        }
    }
    &__category-info-container {
        margin: 0.5rem 0.5rem;
    }
    &__category-name {
        color: $c-theme;
        font-weight: $f-weight-medium;
        margin-bottom: 0.5rem;
    }
    &__num-of-products {
        color: $c-white;
        font-size: 9px;
    }
}

.banner-section {
    height: 150px; 
    display: flex;
    justify-content: center;

    &--grey {
        background-color: $c-grey-1;
    }
    &--dark {
        background-color: $c-theme-dark;
    }
    &__content-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__offer-container {
        background-color: $c-theme;
        color: $c-white;
        margin: 0 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--align-top {
            height: auto;
            align-self: flex-start;
        }

    }
    &__offer-large-text {
        text-align: center;
        font-family: $f-family-play;
        padding: 0 10px;
        font-size: 24px;
        margin-bottom: 10px;
    }
    &__offer-small-text {
        margin-bottom: 15px;
    }
    &__info-container {
        color: $c-white;
        // remove 'display: none' via media@!!!
        display: none;
    }
    &__info-text {
        width: 300px;
        margin-bottom: 15px;
    }
}
